{% load static %}

<h1>Percent of Adult Population with Diabetes by County</h1>
<div id="map"></div>


<svg width="960" height="600"></svg>
<style>
    .counties {
        fill: none;
    }

    .states {
        fill: none;
        stroke: #000;
        stroke-linejoin: round;
    }
</style>

<!--<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>-->
<script src="https://d3js.org/d3.v4.min.js"></script> <!--from d3 website-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script> <!--script used in tutorial-->
<script src="https://d3js.org/topojson.v1.min.js"></script>
<!--<script src="../../visualization.js"></script> tutorial uses separate document-->

<script>
    function http_get(url, success) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                var data = JSON.parse(xhttp.responseText);
                success(data);
            }
        };
        xhttp.open("GET", url);
        xhttp.send();
    }

    function draw_key(svg) {

        // range for the tick-marks
        var x = d3.scaleLinear()
            .domain([1, 10])
            .rangeRound([0, 260]);
        var w = 350, h = 120;
        svg.append("rect")
            .attr("width", w - 100)
            .attr("height", h - 100)
            .style("fill", "url(#gradient)")
            .style('stroke', 'black')
            .style('stroke-width', '1')
            .attr("transform", "translate(600,40)");


        // add the key to the SVG
        var g = svg.append("g")
            .attr("class", "key")
            .attr("transform", "translate(600,40)");



        var legend = svg.append("defs")
            .append("svg:linearGradient")
            .attr("id", "gradient")
            .attr("x1", "0%")
            //.attr("y1", "0%")
            .attr("x2", "100%")
            //.attr("y2", "100%")
            .attr("spreadMethod", "pad");
        legend.append("stop")
            .attr("offset", "0%")
            .attr("stop-color", '#0000ff')
            .attr("stop-opacity", 1);
        legend.append("stop")
            .attr("offset", "100%")
            .attr("stop-color", '#ffffff')
            .attr("stop-opacity", 1);
        var y = d3.scaleLinear().range([300, 0]).domain([1, 100]);
//        var yAxis = d3.axisLeft().scale(y).orient("right");
//        key.append("g").attr("class","y axis").attr("transform", "translate(41,10)").call(yAxis).append("text").attr("transform", "rotate(-90)").attr("y", 30).attr("dy", ".71em").style("text-anchor", "end").text("axis title");


        // DRAW THE TITLE OVER THE KEY
        g.append("text")
            .attr("class", "caption")
            .attr("x", 0)
            .attr("y", -6)
            .attr("fill", "#000")
            .attr("text-anchor", "start")
            .attr("font-weight", "bold")
            .text("Access to Grocery Stores");

        //DRAW NUMBERS BELOW KEY
        g.call(d3.axisBottom(x)
            .tickSize(20)
            .tickFormat(function(d) { return  2.5*d + "%";}) //max-mix/10
            .tickValues(d3.range(2, 10)))
            .select(".domain")
            .remove();


    }


    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    var access = d3.map();

    var path = d3.geoPath();


    // ADD COLOR SCALE
    var color = d3.scaleLinear()
        .domain([0, 25])
        //.domain(d3.range(2, 88))
        //.domain([0.02, 0.04, 0.06, 0.08, 0.10])
        //.range(["#f2f0f7", "#dadaeb", "#bcbddc", "#9e9ac8", "#756bb1", "#54278f"]);
        //.range(['#f7fbff','#deebf7','#c6dbef','#9ecae1','#6baed6','#4292c6','#2171b5','#08519c','#08306b']);
        .range(['#0000ff', '#ffffff']);

    draw_key(svg);

    //ADD JSON FILES FOR MAP AND DATA
    d3.queue()
        .defer(d3.json, "https://d3js.org/us-10m.v1.json")
        .defer(d3.json, "{% url 'capstone:getdata' %}")
        .await(ready);


    // DRAWS THE MAP
    function ready(error, us, data) {
        if (error) throw error;

        data = data.all_data;
        for (var i = 0; i < data.length; i++) {
            access.set(data[i].county_id, +data[i].pct_diabetes_2008);
        }

        svg.append("g")
            .attr("class", "counties")
            .selectAll("path")
            .data(topojson.feature(us, us.objects.counties).features)
            .enter().append("path")
            .attr("fill", function (d) {
                //console.log(d);
                d.pct_diabetes_2008 = access.get(d.id);
                if (typeof d.pct_diabetes_2008 == 'undefined') {
                    return '#000000'
                }
                return color(d.pct_diabetes_2008);


            })
            .attr("d", path)
            .append("title")
            .text(function (d) {
                if (typeof d.pct_diabetes_2008 != 'undefined') {
                    return d.pct_diabetes_2008.toFixed(2) + "%";
                } else {
                    return 'No Data';
                }
            });

        // DRAWS STATE LINES
        svg.append("path")
            .datum(topojson.mesh(us, us.objects.states, function (a, b) {
                return a !== b;
            }))
            .attr("class", "states")
            .attr("d", path);
    }
</script>